analyse_and*
z_pretrained_weights/
run_classification/log/
run_segmentation/log/
predict_psp/save/
run_pspmg/log/
run_segmentation/save/
*.png
*.txt
*.pyc
*.npy
*.meta
*/.idea/*
.idea/*
*.caffemodel
*.index
*.h5
*.bin
*.swp
test_*/*
*.sh
*.zip
*.data-00000-of-00001
